<div style="position: relative;  " class="">
  <div
    id="carouselExampleControls"
    class="carousel slide "
    data-bs-ride="carousel"

  >
    <div class="carousel-inner">
      <div class="carousel-item active ">
        <img
          src="../../../../../assets/61PFdw0x6RL._SX3000_.jpg"
          class="d-block w-100 h-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="../../../../../assets/kids1.jpg"
          class="d-block w-100 h-100"
          alt="..."
        />
      </div>
      <!-- <div class="carousel-item">
        <img
          src="../../../../../assets/unrec-banners-herotator-eng.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div> -->
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<!-- cardviews -->
<div
  class="container"
  style="position: absolute; margin-top: -350px; left: 8%; z-index: 1"
>
  <div class="row">
    <div class="card col" style="width: 18rem; margin: 0 40px">
      <img
        src="../../../../../assets/mens.jpg"
        class="card-img-top rounded-circle"
        width="50px" height="200px"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Mens Section</h5>
        <p class="card-text">
            70% discount on Mens Suits
        </p>
        <!-- <a routerLink="/products/men" class="btn btn-primary">Click me</a> -->
      
        <button class="cta" routerLink="/products/men">
          <span class="hover-underline-animation"> Shop now </span>
          <svg id="arrow-horizontal" xmlns="http://www.w3.org/2000/svg" width="30" height="10" viewBox="0 0 46 16">
            <path id="Path_10" data-name="Path 10" d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z" transform="translate(30)"></path>
          </svg>
        </button>

      </div>
    </div>
    <div class="card col" style="width: 18rem; margin: 0 40px">
      <img
        src="../../../../../assets/women.jpg"
        class="card-img-top rounded-circle"
        width="50px" height="200px"

        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Women Section</h5>
        <p class="card-text">
            60% discount on WOmen cloths
        </p>
        <!-- <a routerLink="/products/women" class="btn btn-primary">Click me</a> -->
        <button class="cta" routerLink="/products/women">
          <span class="hover-underline-animation"> Shop now </span>
          <svg id="arrow-horizontal" xmlns="http://www.w3.org/2000/svg" width="30" height="10" viewBox="0 0 46 16">
            <path id="Path_10" data-name="Path 10" d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z" transform="translate(30)"></path>
          </svg>
        </button>
      
      </div>
    </div>
    <div class="card col" style="width: 18rem; margin: 0 40px">
      <img
        src="../../../../../assets/kids.jpg"
        class="card-img-top rounded-circle"
        alt="..."
        width="50px" height="200px"

      />
      <div class="card-body">
        <h5 class="card-title">Kids Section</h5>
        <p class="card-text">
            70% discount on Kids-ware
        </p>
        <!-- <a routerLink="/products/kids" class="btn btn-primary">Click me</a> -->


        <button class="cta" routerLink="/products/kids">
          <span class="hover-underline-animation"> Shop now </span>
          <svg id="arrow-horizontal" xmlns="http://www.w3.org/2000/svg" width="30" height="10" viewBox="0 0 46 16">
            <path id="Path_10" data-name="Path 10" d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z" transform="translate(30)"></path>
          </svg>
        </button>

      </div>
    </div>
  </div>
</div>

<!-- <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src=" ../../../../../assets/61yokUZfL5L._SX3000_.jpg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../../../../assets/51oPwnPXG3L._SX3000_.jpg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../../../../assets/61PFdw0x6RL._SX3000_.jpg" alt="Third slide">
      </div>
    </div>
  </div>
   -->
<!-- for bootstrap 4 above one -->
