<div class="container pt-5 mt-5" style="padding-left: 25%">
    <div class="row">
      <div class="col-md-12">
        <div class="error-template ">
          <h2 class="animate__rubberBand">Checkout Successful...</h2>
          <h3 class="animate__backInLeft">check your <span style="font-weight: bold;">mail</span> for details and invoice</h3>
  
          <img
            src="../../../../../assets/tick.gif"
            alt=""
            style="height: 250px"
          /><br />
          <div class="error-details animate__backInLeft" >go to home page to ShopIT😋 more</div>
          <br />
          <div class="error-actions">
            <a routerLink="/" class="btn btn-primary btn-lg"
              ><span class="glyphicon glyphicon-home"></span> Take Me Home </a
            ><a routerLink="/" class="btn btn-default btn-lg"
              ><span class="glyphicon glyphicon-envelope"></span> Contact Support
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  